.container {
  text-align: center;
}

.timer {
  display: relative;
  margin: 0 auto;
  margin-top: 25%;
  margin-bottom: 25%;
  width: 800px;
}

/* .break-timer {
  display: fixed;
  margin: 0 auto;
  margin-top: 45%;
  margin-left: 75%;
  margin-bottom: 5%;
  width: 300px;

}
