<section class="container">
	<div class="timer" >
		<h1>{{ count | timecode }} </h1>
		<button type="button" class="btn btn-outline-success" ng-click="start()">Start</button>
		<button type="button" class="btn btn-outline-danger" ng-click="stop()">Stop</button>
		<button type="button" class="btn btn-outline-warning" ng-click="reset()">Reset</button>
	</div>

  <div class="break-timer" ng-show="onBreak">
    <h2>{{ breakSession | timecode }} </h2>
    <button type="button" class="btn btn-outline-success" ng-click="takeBreak()">Take Break</button>
  </div>

</section>
