<div class="wrapper">
<nav id='sidebar'>
		<h1 class="sidebar-header"> Task History: </h1>
		<ul ng-repeat="task in tasks.all">
			<li> {{task.tasklist}} </li>
		</ul>
		<form class="form-group" ng-submit="tasks.addTask(text)">
				<h2>Add New Task:</h2>
				<input ng-model="text" type="text" class="form-control"/>
				<button type="submit" class="btn btn-info">Add</button>
		</form>

</nav>


<section class="container">
	<div class="timer col-md-8" >
		<div>
			<h1> {{ count | timecode }} </h1>

			<button type="button" class="btn btn-outline-success" ng-show="!onBreak" ng-click="start()">Start</button>
			<button type="button" class="btn btn-outline-primary" ng-show="onBreak" ng-click="start()">Take Break</button>
			<!-- <button type="button" class="btn btn-outline-danger"  ng-click="stop()">Stop</button> -->
			<button type="button" class="btn btn-outline-warning" ng-click="reset()">Reset</button>
		</div>
	</div>
</section>
</div>
